# Live mode config
DEBUG=FALSE
SENTRY_DEBUG=FALSE
ENABLE_VOICE_CALL=TRUE
ENABLE_VIDEO_CALL=FALSE
HTML_PRIVACY_PATH=https://uchat.social/privacy.html
HTML_TERM_AND_CONDITION_PATH=https://uchat.social/terms-conditions.html
SENTRY_DSN=iii
ONESIGNAL_APP_ID=ggg
ONESIGNAL_CALL_APP_ID=hhh
API_URL=https://api.v2.uchat.social/api/
SOCKET_URL=wss://socket.v2.uchat.social
LIVE_KIT_URL=wss://livekit.v2.uchat.social
GIPHY_API_KEY=bbb
GOOGLE_PLACE_API_KEY=ccc

# Test mode config
TEST_MODE_DEBUG=TRUE
TEST_MODE_SENTRY_DEBUG=FLASE
TEST_MODE_ENABLE_VOICE_CALL=TRUE
TEST_MODE_ENABLE_VIDEO_CALL=FALSE
TEST_MODE_HTML_PRIVACY_PATH=https://uchat.social/privacy.html
TEST_MODE_HTML_TERM_AND_CONDITION_PATH=https://uchat.social/terms-conditions.html
TEST_MODE_SENTRY_DSN=ddd
TEST_MODE_ONESIGNAL_APP_ID=eee
TEST_MODE_ONESIGNAL_CALL_APP_ID=fff
TEST_MODE_API_URL=https://api.next.uchat.social/api/
TEST_MODE_SOCKET_URL=wss://socket.next.uchat.social
TEST_MODE_LIVE_KIT_URL=wss://livekit.next.uchat.social
TEST_MODE_GIPHY_API_KEY=zzz
TEST_MODE_GOOGLE_PLACE_API_KEY=aaa

RECAPTCHA_IOS_SITE_KEY=xxx
RECAPTCHA_ANDROID_SITE_KEY=yyy

