DB_MONGO_URL=""
DB_MONGO_DB_NAME=""
DB_MONGO_COLLECTION_SMS_LOGS="smslogs"
DB_MONGO_COLLECTION_EMAIL_LOGS="emaillogs"
DB_MONGO_COLLECTION_ACCOUNTS="accounts"

API_URL_BASE=""
API_URL_AUTH_OTP="/auth/otp"
API_URL_AUTH_SIGN_IN="/auth/sign-in"
API_URL_USERS_SETTING_OTP_VERIFY="/users/settings/otp/verify"
API_URL_USERS_SETTING_ACCOUNT="/users/settings/account"

ACCOUNT_SALT_PASSWORD=""