IOS_APP_IDENTIFIER=social.uchat
IOS_APP_ONESIGNAL_IDENTIFIER=social.uchat.OneSignalNotificationServiceExtension
IOS_APP_SHARE_EXTENSION_IDENTIFIER=social.uchat.ShareExtension

TEAM_ID=B6NRPD4S8F
APP_STORE_CONNECT_TEAM_ID=1578162044

APPLE_EMAIL=your_email@zimpligital.com
FASTLANE_PASSWORD="your_password"
MATCH_KEYCHAIN_PASSWORD="your_keychain_pass"
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=""

MATCH_REPO="git@github.com:Zimpligital/uchat-apple-match.git"