<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>social.uchat</key>
		<string>match AppStore social.uchat</string>
		<key>social.uchat.OneSignalNotificationServiceExtension</key>
    <string>match AppStore social.uchat.OneSignalNotificationServiceExtension</string>
    <key>social.uchat.ShareExtension</key>
    <string>match AppStore social.uchat.ShareExtension</string>
	</dict>
</dict>
</plist>